  <!-- Header menu -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top text-bg-light p-3">
    <div class="container">
      <!-- Add your header menu content here -->
      <!-- Example: Logo, navigation links, etc. -->
      <h1 class="display-5">E-commerce Site</h1>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'shoppingcart' %}">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Register</a>
              </li>                                          
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </nav>