{% include 'base.html' %}
{% block content %}
  <!-- Product grid -->
  <div class="row product-grid-container">
    {% for item in items_for_sale %}
        <!-- Product -->
        <div class="col-md-3 product-card" id="{{ item.item_uuid }}">
            <form action="{% url 'additem' item.item_uuid %}" method="post">
                {% csrf_token %}
                <!--- product image -->
                <img src="{{ item.image_url }}" alt="Product 1">
                <!--- product name -->
                <h4>{{ item.name }}</h4>
                <!--- product description -->
                <p class="fw-lighter">{{ item.description }}</p>
                <!--- product categories -->
                <p>Category:
                    {{ item.categories.all|join:', '}}
                </p>
                <!--- product price -->
                <p>${{ item.price }}</p>
                <!--- submit -->
                <input type="submit" value="Add to Cart" class="btn btn-primary">
            </form>
        </div>
    {% endfor %}
    <!-- Add more product cards here -->
    <!-- Each card represents one product -->
</div>

{% endblock %}
{% include 'footer.html' %}